@import url('https://use.fontawesome.com/releases/v6.4.2/css/all.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.nav-container{
    height: 65px !important;
    box-shadow: 0px 1px 4px #888888 !important;
    background-color: #ffff !important;
}
.nav-item,
.nav-media-item{
    color: #000 !important;
}

.about-page{
    width: 100%;
    margin-top: 65px;
}
.about-slide{
    width: 100%;
    position: relative;
}
.about-slide-img{
    width: 100%;
}
.about-slide-img > img{
    width: 100%;
}
.about-slide-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}
.about-slide-content{
   height: 30%;
   position: absolute;
   left: 100px;
   bottom: 100px;
   color: aliceblue;
}
.about-slide-content > h1{
    font-size: 60px;
    font-weight: 600;
}
.about-jump-container{
    width: 100%;
    position: relative;
}
.about-jump-container > img{
    width: 100%;
}
.about-jump{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 64px;
    position: absolute;
    top: 0;
}
.about-jump-content{
    width: 60%;
}
.about-jump-content > h2{
    margin-bottom: 32px;
}
.about-jump-content > p{
    margin-top: 32px;
    font-size: 16px;
}
.about-jump-link{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
}
.about-jump-link > a{
    color: #030a30;
    font-style: italic;
}
.about-jump-link > a:hover{
    color: #cf3339;
}
.about-divide{
    width: 100%;
}
.about-divide > img{
    width: 100%;
}
.about-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-section{
    width: 65%;
    margin: 16px 0;
}
.about-section-title{
    margin: 32px 0;
    position: relative;
    text-transform: uppercase;
}
.about-section-title::after{
    content: "";
    position: absolute;
    width: 200px;
    height: 2px;
    background-color: #030a30;
    bottom: -16px;
    left: 0;
}

.about-section-content > p{
    margin-top: 16px;
    text-align: justify;
    line-height: 32px;
}
.about-section-content-img,
.about-section-content-img-adward{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 32px;
    flex-wrap: wrap;
}   
.about-section-content-img > img{
    width: 49%;
    height: 360px;
}
.about-section-content-img-adward >img{
    width: 32%;
    height: 180px;
    margin-top: 8px;
}
