@import url('https://use.fontawesome.com/releases/v6.4.2/css/all.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.nav-container{
    height: 65px !important;
    box-shadow: 0px 1px 4px #888888 !important;
    background-color: #ffff !important;
}
.nav-item,
.nav-media-item{
    color: #000 !important;
}
.destination-page
{
   width: 100%;
   margin: 65px 0;
}
.des-slide
{
    width: 100%;
}
.des-slide > img
{
    width: 100%;
}
.des-find-container{
    width: 100%;
    padding: 36px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px #ddd solid;
}
.des-find-search{
    width: 40%;
    display: inline-flex;
    justify-content: right;
}
.des-find-search > input{
    padding: 12px;
    width: 240px;
    font-size: 16px;
}
.des-find-search > button{
    padding: 12px;
    cursor: pointer;
    background-color: #cf3333;
    border: 1px #000 solid;
    font-size: 16px;
}
.des-find-search > button:hover{
    opacity: .9;
}
.des-find-search > button > i{
    color: #fff;
}
.des-title
{
    color: #c51c1c;
}
.des-title
{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.des-find-dropdown{
    border: none;
    outline: none;
    cursor: pointer;
}
.des-find-content > button:hover{
    opacity: 0.9;
}
/* Phan tour-item */
.des-tour-item
{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 36px;
    background: linear-gradient(45deg, rgba(225, 237, 243, 1), #fff);
    justify-content: center;
}
.des-tour-item-container
{
    width: 30%;
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #6d87d6;
    margin: 8px;
}

/* Tao phan Overview */
.des-container-overview
{
    width: 100%;
    display:flex;
    unicode-bidi: isolate;
    margin-right: auto;
    margin-left: auto;
    padding: 32px 64px;
    flex-direction: column;
}
.desc{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.desc > h2{
    color: #848484;
    font-size: 18px;
    line-height: 24px;
    max-width: 650px;
    margin: auto;
    padding: 15px 0;
}
 .desc > p
{
    max-width: 650px;
    margin: auto;
    padding: 15px 0;
}
.desc > h5,h6
{
    max-width: 650px;
    margin: auto;
    padding: 15px 0;
}
.desc > h3{
    font-size: 20px;
    line-height: 24px;
    color: #9e0b0f !important;
}
.desc .titile{
    font-size: 24px;
    line-height: 24px;
    color: #a5190e !important;
}
.desc-content{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}
.desc-content > img{
    width: 46%;
    padding: 32px;
    height: 600px
}
.desc-content > h5{
    width: 45%;
    font-size: 20px;
    font-weight: 500;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}