@import url('https://use.fontawesome.com/releases/v6.4.2/css/all.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.nav-container{
    height: 65px !important;
    box-shadow: 0px 1px 4px #888888 !important;
    background-color: #ffff !important;
}
.nav-item,
.nav-media-item{
    color: #000 !important;
}
.tours-page{
    padding: 16px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 65px;
}
.tours-filter-container {
    width: 30%;
    margin: 20px;
    padding: 28px;
    border: 4px solid rgb(229 231 238);
    height: fit-content;
}
.tours-filter-clearall{
    color: #cf3339;
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 16px;
    font-weight: 600;
}
.tours-filter-clearall:hover{
    text-decoration: underline;
}
.tours-filter-header {
    border: none;
    cursor: pointer;
    padding: 16px 0;
    width: 100%;
    background: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    display: inline-flex;
    justify-content: space-between;
    border-bottom: 1px #bdbdbd solid;
}
.tours-filter-content {
    display: none;
    padding: 16px 0;
    border-top: none;
}
.tours-filter-content > input{
    cursor: pointer;
    margin: 8px 0;
}
.tours-filter-content > label{
    cursor: pointer;
}
.tours-all{
    width: 70%;
    padding: 28px;
}
.tours-all-sort{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
#tours-all-sort-select{
    padding: 16px 0;
    cursor: pointer;
    width: 30%;
    font-size: 16px;
    font-weight: 600;
    outline: none;
}
/*tour */
.tours-all-area{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin: 32px 0;
    justify-content: center;
}
.tours-all-tour-item-container{
    width: 47%;
    background-color: #fff;
    border-radius: 20px;
    margin: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/*loadmore*/
.tours-all-load-more{
    width: 100%;
    justify-content: center;
    display: flex;
}
.tours-all-load-more > button{
    padding: 8px 16px;
    text-transform: uppercase;
    border: #cf3339 2px solid;
    color: #cf3339;
    background-color: #fff;
    font-weight: 600;
    border-radius: 16px;
    cursor: pointer;
}
.tours-all-load-more > button:hover{
    background-color: #cf3339;
    color: #fff;
}